/* ==========================================================================
   Animations that bourbon can't support at the moment
   ========================================================================== */

@-webkit-keyframes cursor-blink {
  0%   { background-position: right 10px center; }
  50%  { background-position: right 10px center; }
  51%  { background-position: right -100px center; }
  100% { background-position: right -100px center; }
}
@-moz-keyframes cursor-blink {
  0%   { background-position: right 10px center; }
  50%  { background-position: right 10px center; }
  51%  { background-position: right -100px center; }
  100% { background-position: right -100px center; }
}
@-o-keyframes cursor-blink {
  0%   { background-position: right 10px center; }
  50%  { background-position: right 10px center; }
  51%  { background-position: right -100px center; }
  100% { background-position: right -100px center; }
}
@keyframes cursor-blink {
  0%   { background-position: right 10px center; }
  50%  { background-position: right 10px center; }
  51%  { background-position: right -100px center; }
  100% { background-position: right -100px center; }
}

#trigger-overlay {
  -webkit-animation: cursor-blink 1s infinite;
  -moz-animation:    cursor-blink 1s infinite;
  -o-animation:      cursor-blink 1s infinite;
  animation:         cursor-blink 1s infinite;
}


@-webkit-keyframes cursor-blink-lg {
  0%   { background-position: right 9px bottom; }
  50%  { background-position: right 9px bottom; }
  51%  { background-position: right -100px bottom; }
  100% { background-position: right -100px bottom; }
}
@-moz-keyframes cursor-blink-lg {
  0%   { background-position: right 9px bottom; }
  50%  { background-position: right 9px bottom; }
  51%  { background-position: right -100px bottom; }
  100% { background-position: right -100px bottom; }
}
@-o-keyframes cursor-blink-lg {
  0%   { background-position: right 9px bottom; }
  50%  { background-position: right 9px bottom; }
  51%  { background-position: right -100px bottom; }
  100% { background-position: right -100px bottom; }
}
@keyframes cursor-blink-lg {
  0%   { background-position: right 9px bottom; }
  50%  { background-position: right 9px bottom; }
  51%  { background-position: right -100px bottom; }
  100% { background-position: right -100px bottom; }
}

.follow-us-footer .follow {
  -webkit-animation: cursor-blink-lg 1s infinite;
  -moz-animation:    cursor-blink-lg 1s infinite;
  -o-animation:      cursor-blink-lg 1s infinite;
  animation:         cursor-blink-lg 1s infinite;
}

@-webkit-keyframes rainbow {
  0%   { background-color: black; }
  14%   { background-color: rgba(255, 0, 0, 1); }
  28%  { background-color: rgba(255, 127, 0, 1); }
  42%  { background-color: rgba(255, 255, 0, 1); }
  56% { background-color: rgba(0, 255, 0, 1); }
  70% { background-color: rgba(0, 0, 255, 1); }
  84% { background-color: rgba(143, 0, 255, 1); }
  100% { background-color: black; }
}
@-moz-keyframes rainbow {
  0%   { background-color: black; }
  14%   { background-color: rgba(255, 0, 0, 1); }
  28%  { background-color: rgba(255, 127, 0, 1); }
  42%  { background-color: rgba(255, 255, 0, 1); }
  56% { background-color: rgba(0, 255, 0, 1); }
  70% { background-color: rgba(0, 0, 255, 1); }
  84% { background-color: rgba(143, 0, 255, 1); }
  100% { background-color: black; }
}
@-o-keyframes rainbow {
  0%   { background-color: black; }
  14%   { background-color: rgba(255, 0, 0, 1); }
  28%  { background-color: rgba(255, 127, 0, 1); }
  42%  { background-color: rgba(255, 255, 0, 1); }
  56% { background-color: rgba(0, 255, 0, 1); }
  70% { background-color: rgba(0, 0, 255, 1); }
  84% { background-color: rgba(143, 0, 255, 1); }
  100% { background-color: black; }
}
@keyframes rainbow {
  0%   { background-color: black; }
  14%   { background-color: rgba(255, 0, 0, 1); }
  28%  { background-color: rgba(255, 127, 0, 1); }
  42%  { background-color: rgba(255, 255, 0, 1); }
  56% { background-color: rgba(0, 255, 0, 1); }
  70% { background-color: rgba(0, 0, 255, 1); }
  84% { background-color: rgba(143, 0, 255, 1); }
  100% { background-color: black; }
}

.home-logo-splash,
.home-color-bands {
  -webkit-animation: rainbow 20s infinite;
  -moz-animation:    rainbow 20s infinite;
  -o-animation:      rainbow 20s infinite;
  animation:         rainbow 20s infinite;
}

/*
Drupal Logo Hover

This adds a little hover animation to the logo for some z-axis of engagement.

Markup:
<img class="logo">

:hover - Hover effect to make the logo stare you down.
*/
img.logo {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
img.logo:hover { 
  -webkit-transform: scale(1.15) rotate(15deg);
  -moz-transform: scale(1.15) rotate(15deg);
  -o-transform: scale(1.15) rotate(15deg);
  -ms-transform: scale(1.15) rotate(15deg);
  transform: scale(1.15) rotate(15deg);
}
