//scale the base text size down for smaller screens
html {
  @media #{$medium-down} {
    font-size: 14px;
  }
  @media #{$small-only} {
    font-size: 13px;
  }
}

iframe {
  max-width: 100%;
}

/*silly overwrites */
h1, h2, h3, h4, h5, h6{
	color:#dddddd;
}

h2 {
  @media #{$medium-down} {
    font-size: 1.5rem;
  }
}

.page-node main h1#page-title,
.page-user main h1#page-title,
ul.button-group{
	margin:20px auto;
	max-width:837px;
}

.main.columns{
	padding:0;
}

.breadcrumb-wrapper{
	display: block;
	padding: 0.5625rem 0.875rem 0.5625rem;
	overflow: hidden;
	margin-left: 0;
	list-style: none;
	border-style: solid;
	border-width: 1px;
	background-color: #0A4F07;
	border-color: #0a4706;
	border-radius: 0;
}

.front .breadcrumb-wrapper{
	display:none;
}

.breadcrumbs{
	padding:0;
	max-width:1096px;
	margin:0 auto;

	a,
	*.current a{
		color:#DDDDDD;
	}
	&:after{
		content: 'November 6-9 2014 / San Francisco';
		float: right;
		color: #DDD;
		padding: 0;
		margin: 0;
		line-height: 16px;
	}
}



.tl-grp-content-inner .item-list {
	h3, a {
		color: #FFF;
	}
}

.tl-grp-content {
	background-color: #31CC31;
}

#admin-menu ul {
	font-size: 13px;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	&:focus {
		color: #000!important;
	}
}

label {
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.form-item .description {
	display: none;
}


/* Temp visual styles */
.row,
.panel,
.temp-highlight {
	max-width:none;
}

.contain-to-grid {
border-bottom:1px solid #689c31;
	.top-bar {
		max-width: 100%;
	}
}

.top-bar-section li:not(.has-form) a:not(.button) {
  @media #{$medium-only} {
    font-size: 14px;
    padding: 0 14px;
  }
}
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section li:not(.has-form) a:not(.button).active,
.top-bar .name h1 a.active,
.top-bar .name h1 a:hover{
	background: $green;
	color: black;
}

.top-bar .name h1 a {
  @media #{$small-only} {
    font-size: 1.2rem;
    width: 65%;
  }
}

li#trigger-overlay,
#secondary-menu{
	float:right;
	position: absolute;
	right: 0;
	border-left: solid 1px #689c31;
	@media #{$small-only}  {
		position:relative;
		float:none;
		border:none;
	}

	a {
    @extend %blink-bg;
    text-transform:uppercase;
		background: url('../images/line.jpg') black no-repeat right 10px center;
		@media #{$small-only}  {
			background:none;
			text-transform:none;
		}
    @media #{$medium-only} {
      padding-right: 20px;
    }
	}

	a:hover{
		background: url('../images/line-white.jpg') black no-repeat right 10px center;
		color:white;

		@media #{$small-only}  {
			background:$green;
			color:black;
		}
	}
}

/*Special link styling*/

.outline-button{
	padding:10px;
	border:solid 1px $light-grey;
	margin-right: 30px;
	display: inline-block;
	margin-top: 12px;

  @media #{$medium-down} {
    font-size: 14px;
  }
}

a.outline-button{
	color:$light-grey;
	text-transform:uppercase;
  &:hover{
    color:$dark-blue;
    background-color: $light-grey;
  }
}
.capital-green{
	text-transform:uppercase;
	margin-right:20px;
	color:$green;
}

a.capital-green{
	text-decoration:underline;
}


/*Panels */

.panel-pane .pane-content,
.panel-pane.pane-views-panes{
	clear:both;
	max-width:843px;
	margin:0 auto;
	padding:40px 0;

  @media #{$medium-down} {
    max-width: 90%;
  }
}

.panels-page #page-title{
	display:none;
}

.panel-separator{
	clear:both;
	margin:0;
}

/*Blue-background panel panes -use class .blue*/

.panel-pane.blue{

	.pane-content{
	}

	h2{
		color:$light-grey;
	}

	color:$light-grey;
	background:$dark-blue;
}

.panel-pane.white{
	background:white;
	color:black;
	font-family:helvetica !important;

	h2{
		font-size:18px;
	}

	a{
		color:#3300FF;

		&:hover{
		color:#2100a5;
		}
	}

	h1,h2,h3,h4,h5{
		color:#649A2A;
	}

}

.view-footer:before {
    clear: both;
		display:block;
		content:"";
}

.pane-jobs-panel-pane-1{

	.view-jobs .views-row{
		border-bottom: 1px solid black;
		margin-bottom: 30px;
		padding-bottom: 30px;

		&:after{
			content:"";
			clear:both;
			display:block;
		}
	}

	.views-field-field-sponsor-logo{
		float:left;
		padding-right:20px;
	}

	h2{
		max-width: 843px;
		margin: 0 auto;
	}

	.views-field-title{
		font-size:25px;
		line-height: 28px;
		margin-left:120px;
	}

	.views-field-body{
		margin-left:120px;
		font-family:helvetica;
	}
}
.view-display-id-panel_pane_6{
	td{
		text-align: center;
		padding-right:50px;
	}
}
.panel-pane.white .outline-button{
	border:solid 1px #000000;
	margin-top: 12px;
	color:black;
}

.panel-pane.white.seemore .outline-button{
	margin-top:0;
}

.panel-pane.pane-views-panes.white{
	max-width:100%;
}

.marquee-title{
	.pane-content{
		max-width:100%;
		padding:0;
	}
}

.marquee{
	font-family: "Press Start 2P", sans;
	font-size: 300%;
  line-height: 45px;
	width: 100%;
	background-color: black;
	color: #03ff03;
	padding: 35px 0 30px 0;
}

/* Sponsor view */

#details img,
.page-sponsors img{
	width:100%;
}

.view-sponsors{

 	.views-row{
		float: left;
		width: 21%;
		padding-left: 0;
		padding-right: 0;
		margin-right:5%;

		&:after{
			content:"";
			clear:both;
			display:block;
			}
		}
	table{
		background: none;
		margin-bottom: none;
		border: none;
	}

	table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: none;
	}
}


.view-sponsors.view-display-id-panel_pane_2 .views-row{
	width:44%;
}

.view-display-id-panel_pane_3{
		td{
			padding-right:80px;

			@media #{$medium-down} {
				padding-right:10px;
			}

			&:nth-of-type(3n+3){
				padding-right:0px;
		}
	}

}

.view-display-id-panel_pane_4 .views-row{
	width:12%;
		td{
			padding-right:10px;
		}
}

.view-sponsors .views-row:nth-of-type(4n+4){
	margin-right:0%;
}

.sponsor .outline-button{
	clear:both;
	text-align:center;
	display:table;
	margin:0 auto;
}

.panel-pane.pane-views-panes.sponsor{
	padding:0;
}

.panel-pane.seemore .pane-content{
	padding:0 0 40px 0;
}

.panel-pane.pane-views-panes.featured-attendees-pane{
	padding:20px;
	max-width:1097px;
	margin: 93px auto;
	background: url('../images/	featured-attendees-border.png') no-repeat top center;

  @media #{$medium-down} {
    background: none;
    max-width: 98%;
    padding: 0;

    h2 {
      line-height: 3;
    }

    thead {
      display: none;
    }
    tr {
      padding: 0.25em 0;
    }
    th, td {
      display: block;
    }
    td {
      float: right;
      padding: 0 0.25em 0 0.5em;
      overflow: hidden;
      width: 75%;
    }
    .attendee-photo {
      clear: left;
      float: left;
      padding-bottom: 1em;
      width: 25%;
      text-align: center;
    }
  }

  .pane-content{
    max-width:992px;
    padding:54px 25px;

    @media #{$medium-down} {
      padding: 0;
    }
  }


	.pane-title{
  	text-indent: -9999px;
		margin-top:-85px;
  	background: url('../images/featured-attendees-title.png') no-repeat bottom center;

    @media #{$small-only} {
      background-size: 100%;
    }
	}

}

.entitytype-training_registration-form input[type="radio"] + label{
	max-width: 600px;

}

.view-display-id-panel_pane_4 .date-display-single{
	color: $green;
	font-size: 30px;
	padding: 25px;
	display: inline-block;
}

.panel-pane.no-padding .pane-content,
.panel-pane.pane-views-panes.no-padding{
	padding:0;
}

.you-are-registered{
	background:#33CE32;
	padding:10px;
	color:black;
	text-transform: uppercase;
	font-size: 130%;
	display: inline-block;
	margin-bottom: 20px;
}

.flag-event-registration a{
	background:#33CE32;
	padding:10px;
	color:black;
	text-transform: uppercase;
	font-size: 130%;
}

.flag-event-registration .unflag-action{
	color: white;
	background: black;
	display:inline-block;
}

.flag-event-registration.add-flagged:before{
	content:"You are registered!";
	background:#33CE32;
	padding:10px;
	color:black;
	text-transform: uppercase;
	font-size: 130%;
	display:inline-block;
	margin-right:10px;
}

/* Featured attendees*/
.featured-attendees{

	ul.pagination li a{
		background:#33CE32;
		padding:10px;
		color:black;
		text-transform: uppercase;
		font-size: 130%;

    @media #{$medium-down} {
      font-size: 1rem;
    }
	}

		table.views-table{
			background:none;
			border:none;
			width:100%;

				thead{
					background:none;
					border-bottom:solid 1px #DDDDDD;

					tr th{
						color:#DDDDDD;
						text-transform: uppercase;
						padding: 10px 17px;
					}
				}

		th, tr td{
			color: $green;
			font-size: 1.25rem;
			padding: 26px 21px;
			line-height: 21px;

      @media #{$medium-down} {
        line-height: 1.3;
      }
		}

		.attendee-photo{
			padding:27px 14px 5px 0;

      @media #{$medium-down} {
        padding: 0;
      }
		}

		.attendee-display-name{
			text-transform: uppercase;
		}

		.views-field-expression-1{
			padding:5px 0px 5px 14px;

      @media #{$medium-down} {
        padding: 0 0.25em 1em 0.5em;
      }
		}

		tr:nth-of-type(even) {
			background: none;
		}

	}
}

/*User profiles */

#user-profile{
	.panel-pane .pane-content{
		padding: 5px 0;
	}
}

/*Registration */

#registration{

	.registration-title .pane-content,
	.pane-user-signup .pane-content{
			border: solid 1px $green;
			margin-top: 53px;
			padding: 0;

			form{
				padding: 19px 53px;

        @media #{$small-only} {
          padding: 19px 2rem;
        }

				&:after{
					content:"";
					clear:both;
					display:block;
				}
			}

			input[type="checkbox"], input[type="radio"], select {
			margin: 0;
			}

			.form-wrapper{
				width: 47%;
				float: left;
				margin: 0 6% 0 0;

        @media #{$small-only} {
          float: none;
          width: 98%;
        }
			}

		#edit-account.form-wrapper{
			width:100%;

			.form-item{
				width:47%;
				float: left;
				margin: 0 6% 0 0;

        @media #{$small-only} {
          float: none;
          width: 98%;
        }

				&:nth-of-type(2n+2){
					margin-right:0;
				}

				&.form-type-password-confirm{
				width:100%;
				}
			}
		}
	}


		.form-type-checkbox label{
			display: inline;
			width:90%;
		}

		#edit-field-user-last-name{
			margin-right:0;
		}

		#edit-submit{
			text-transform:uppercase;
			font-size:150%;
			margin-top:18px;
		}

		.registration-disclaimer{
			color: #669933;
			text-align: center;
			max-width: 937px;
			margin: 0 auto;
		}

		.registration-title p{
			font-size: 150%;
			color: $green;
			margin: 0;
			padding: 19px 53px;
			text-transform: uppercase;

      @media #{$small-only} {
        font-size: 1rem;
        padding: 19px 2rem;
      }
		}



		.registration-step{
			float:right;
			width: 35%;
			text-align: right;

			.active{
				background:$green;
				color:black;
				padding:0 6px;
			}
		}

	.panel-pane .pane-content, .panel-pane.pane-views-panes, .pane-user-signup .pane-content {
	max-width: 1093px;
	}

	.pane-user-signup .pane-content{
	margin-top: 0;
	border-top: 0;
	}
}

/* Session Pages */
/* I hate myself for writing this code */
.pane-node-field-session-track,
.pane-node-field-session-speaker {
  .pane-content {
    padding: 0 0;
  }
}


/*Individual sponsorship */

.panel-pane.individual-sponsor-description .pane-content,
.panel-pane.individual-sponsor-prizes .pane-content{
	padding:0;
	border-left:solid 1px $green;
	border-right:solid 1px $green;

}

.panel-pane.individual-sponsor-prizes .pane-content{
		border-bottom:solid 1px $green;
	}

.is-description-wrapper{
	padding:20px 54px;
}
.individual-sponsor-description p{
	margin:0;
	padding:0;
}

.individual-sponsor-prizes{
	font-size:16px;

	a.finish-registration{
		text-indent: -9999px;
		background: url('../images/finish-button.png') no-repeat;
		height: 47px;
		width: 159px;
		float: right;
		display: inline-block;
		margin-right: 10px;
	}

	.individual-sponsor-wrapper{
		width:90%;
		border:solid 1px #CCCCCC;
		margin: 0 auto 20px;

		&:after{
			content:"";
			clear:both;
			display:block;
		}
	}

	.is-col-1{
		background:#cccccc;
		text-align:center;
		color:black;
		float:left;
		margin-right:20px;
		width:28%;
		min-height:139px;

			h2{
				color:black;
				margin-top:20px;
			}
		}


		.is-col-2{
			padding:20px;
		}

		form{
			float:right;
		}

		.prizes{
			color:$green;
			text-transform:capitalize;
		}

		.green-button{
			background:$green;
			padding:20px;
			float:right;
			color:black;
			text-transform: capitalize;
		}
}

/*Summit pages*/
.summit-node{

	.panel-pane .pane-content{
		padding: 20px 0;
	}

		#page-title,
		.pane-node-title .pane-title{
			display:none;
		}
}

.gray-background{
	background:#EEEEEE;
	color:#333333;

	h2{
		font-size:28px;
		font-family:monospace;
		max-width: 843px;
		margin: 0 auto;
		color:#333333;
		padding-top:20px;
	}
}

/*Community page */


.all-attendees.view-display-id-panel_pane_6 .attendee{
	width: 10%;
}

.pane-attendees-panel-pane-6.pane-views-panes,
.pane-attendees-panel-pane-6 .pane-content{
	max-width:100%;
}

img.attendee-photo{
	max-width: 230px;
}

.all-attendees-pane.pane-views-panes,
.all-attendees-pane .pane-content{
	max-width:100%;

	.view-filters,
	h2{
		margin:0 auto;
		max-width:854px;
	}
}

.pagination-centered{
	clear:both;
}

.page-eform{
	h1#page-title{
		margin: 20px auto;
		max-width: 837px;
	}

	#block-system-main{
		margin: 20px auto;
		max-width: 837px;
	}

}

.node-type-sponsor{
	.panel-pane .pane-content{
		padding:0 0 10px 0;
	}

}

.all-attendees{
		 .attendee{
			 width: 20%;
			 float: left;
			 margin: 0;
			 padding: 0;
			 list-style: none;
			 position:relative;
		 }

		 .attendee-photo{
			 float: left;
			 margin: 0;
			 padding: 0;
			 width: 100%;
			 img{
          width:100%;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }
        img:hover{
           filter: contrast(1.5);
          -webkit-filter: contrast(1.5);
          -moz-filter: contrast(1.5);
          -o-filter: contrast(1.5);
          -ms-filter: contrast(1.5);
          cursor: pointer;
        }
      }

		 .attendee-name{
			 position: absolute;
			 bottom: 0;
			 left: 0;
			 z-index: 500;
			 background-color:rgba(0, 0, 0, 0.8)
		 }

}
/*Footer */

.follow-us-footer {
	text-transform: uppercase;
	color: $green;
	font-size: 31px;
	max-width:1202px;
	margin:0 auto;

  @media #{$medium-down} {
    font-size: 1.2rem;
    max-width: 90%;
  }
  @media #{$small-only} {
    font-size: 1rem;
  }

	&:after{
		content:"";
		clear:both;
		display:block;
	}

	.follow{
		background: url('../images/line-bigger.png') black no-repeat right 9px bottom;
		float: left;
		width: 152px;

    @media #{$medium-down} {
      background-position: right 0;
      width: auto;
      padding-right: 0.9em;
    }
	}

	ul{
		margin:0;
		float:left;
		line-height: 0.6;
	}
	li{
		list-style:none;
		float:left;
    font-size: 31px;
		margin:0;
		padding: 0 40px;

    @media #{$medium-down} {
      font-size: 1.2rem;
      padding: 0.35rem 5px;
    }
    @media #{$small-only} {
      font-size: 1rem;
      padding: 0.4rem 7px;
    }

		a.twitter{
			background: url('../images/twitter.png') black no-repeat left 10px top;
			padding-left: 55px;

      @media #{$medium-down} {
        background-size: 24px;
        padding-left: 36px;
      }
      @media #{$small-only} {
        background-size: 20px;
      }
		}
	}

	.social-link-wrapper,
	.footer-side-links{
		padding-top:34px;
		float:left;
		height:90px;
    overflow: hidden;

    @media #{$small-only} {
      height: auto;
      padding: 1em 0;
    }
	}
	.footer-side-links{
		float:right;
		border-left:1px solid $green;
		padding-left: 40px;

    @media #{$small-only} {
      clear: left;
      float: none;
      border-left: none;
      border-top: 1px solid $green;
      padding: 1em 0;
    }

		a{
			font-size:18px;
		}
	}


}

footer .large-12{
	width:100%;
	padding:0;
	margin:0;
	// background:#7F7F7F;
}

#block-block-2{
	border-top:solid 1px $green;
	border-bottom:solid 1px #B2CC99;
	background:black;
}

#block-menu-menu-footer{
	h2.block-title{display:none;}
	max-width: 1202px;
	margin: 40px auto;

  @media #{$medium-down} {
    max-width: 90%;
  }

	header{
		border:none;
	}

	&:after{
		content:"";
		clear:both;
		display:block;
	}

	ul{
		margin:0;
		padding:0;
		list-style:none;
	}
	ul > li {
		width: 25%;
		float: left;
	}
  > ul > li {
    @media #{$small-only} {
      width: 100%;
      margin-bottom: 1em;
    }
    @media #{$medium-only} {
      width: 50%;
      margin-bottom: 1em;
    }
  }

	ul > li > ul > li{
		width:100%;
		float:none;
	}
}

/*Big background images */
.badcampflag{
	background: url('../images/background/badcampflag.jpg') no-repeat center center fixed;
	height: 1247px;
}

.badcamp-collage{
	background: url('../images/background/badcamp-collage.jpg') no-repeat center center fixed;
	height: 932px;
}

.badcamp-collage-community{
	background: url('../images/background/badcamp-collage-community.jpg') no-repeat center center fixed;
	height: 932px;
}

.cablecar{
	background: url('../images/background/cablecar.jpg') no-repeat center center fixed;
	height: 1050px;
}

.coderlounge{
	background: url('../images/background/coderlounge.jpg') no-repeat center center fixed;
	height: 900px;
}

.drupal-con-paris{
	background: url('../images/background/drupal-con-paris.jpg') no-repeat center center fixed;
	height: 800px;
}

.free-training{
	background: url('../images/background/free-training.jpg') no-repeat center center fixed;
	height: 1003px;
}

.hyatt{
	background: url('../images/background/hyatt.jpg') no-repeat center center fixed;
	height: 800px;
}

.interior-map{
	background: url('../images/background/interior-map.jpg') no-repeat center center fixed;
	height: 827px;
  background-size: 100%;
}

.pfa{
	background: url('../images/background/pfa.jpg') no-repeat center 4rem fixed;
	height: 932px;
}

.ppalace-google-earth{
	background: url('../images/background/ppalace-google-earth.jpg') no-repeat center center fixed;
	height: 1043px;
}

.summit{
	background: url('../images/background/summit.jpg') no-repeat center center fixed;
	height: 1066px;
}

.parallax{
  @include prefixer(background-size, cover, webkit moz o spec);
}
@media #{$medium-down} {
  .parallax {
    background-position: center 0;
    height: 400px;
  }
}

/* Homepage*/

.homepage-facts{
	text-align:center;

	.fact-wrap{
		float:left;
		width: 29%;
		margin-right: 6%;
		margin-top: 35px;
		margin-bottom: 35px;
	}

	h2.fact{
		color:$green;
		font-size: 2.9rem;

    @media #{$small-only} {
      font-size: 1.5rem;
    }
	}

	.fact-text{
		font-size: 1rem;
	}

	.fact-wrap:nth-of-type(3n+3){
		margin-right:0;
	}

	.pane-content{
		max-width:1088px;
	}
	.pane-content:after{
		clear:both;
	}
}
/*logo and splash */
.home-color-bands{
	clear: both;
	height: 150px;
	background: url('../images/home-color-bands.png') repeat-x bottom;
	width:100%;
}

#home .home-logo-splash{

  overflow: hidden;

	.col-1 {
	  width: 35%;
	  margin: 0px;
	  padding: 0px;
	  float: left;
	}
	.col-1 img {
	  max-width: 100%;
	  height: auto;
	}
	.col-2 {
	  width: 58%;
	  margin: 0px;
	  padding: 0px;
	  float: right;
		position:relative;

    @media #{$small-only} {
      font-size: .85rem;
    }
	}

	.year {
	  text-align: center;
	  padding: 0px;
	  line-height: 1.1em;
	  margin: 20px 0 0 5px;
	  color: transparent;

    .gradient {
      background: url('../images/year.png') no-repeat;
      display: block;
      width: 100%;
      height: 108px;

      @media #{$medium-down} {
        background-size: 100%;
        height: 110px;
      }
      @media #{$small-only} {
        height: 85px;
      }
      @media #{$xsmall-only} {
        height: 60px;
      }
    }
	}
	.date {
		background-color: #ffffff;
		font-family: "Press Start 2P", sans;
		font-size: 33px;
		text-align: center;
		margin: 15px 16px 15px 0px;
		color: black;

    @media #{$medium-down} {
      font-size: 15px;
    }
    @media #{$small-only} {
      margin-top: 0;
    }
	}
	.venue {
	  text-align: left;
		color:$green;
		font-size:17px;

    @media #{$small-only} {
      font-size: 14px;
    }
	}
	h1 {
		line-height:1em;
		font-size:3.7em;
		color:$green;

    span.smaller-heading {
      font-size: 73%;
    }
	}

}


.tl-grouping:nth-of-type(3) .tl-grp-content-inner .item-list ul li.views-row,
.tl-grouping:nth-of-type(4) .tl-grp-content-inner .item-list ul li.views-row{
	width:100%;
}

.copyright {
  @media #{$medium-down} {
    font-size: 14px;
  }
}

.overlay-door {
  z-index: 100;

  .form-text {
    background: #000;
  }
  a {
    color: #fff;
  }
}


//timeline mobile overrides
//@media #{$medium-down} {
//  .tl-date-grp {
//    margin-bottom: -6%;
//    padding-left: 8%;
//    text-align: left;
//    width: 100%;
//  }
//  .tl-grp {
//    padding-top: 9%;
//    width: 100%;
//  }
//}
//@media #{$small-only} {
//  .tl-date-grp {
//    margin-bottom: -40px;
//    padding-left: 10%;
//  }
//  .tl-grp {
//    padding-top: 50px;
//    padding-bottom: 20%;
//  }
//}
.tl-date-grp {
  @media #{$medium-down} {
    margin-bottom: -6%;
    padding-left: 8%;
    text-align: left;
    width: 100%;
  }
  @media #{$small-only} {
    margin-bottom: -40px;
    padding-left: 10%;
  }
}
.tl-grp {
  @media #{$medium-down} {
    padding-top: 9%;
    width: 100%;
  }
  @media #{$small-only} {
    padding-top: 50px;
    padding-bottom: 20%;
  }

    .tl-grouping:last-child & {
    padding-bottom: 0;
  }
}

.tl-grp-content-inner .item-list ul li.views-row {
  @media #{$medium-down} {
    float: none;
    width: 100%;
  }
}
