// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

// Colors, goddammit
$green:#2ECC40;
$light-grey:#dcdcdd;
$dark-blue:#000067;
