@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=58cd7648-fda7-4552-9514-137d780eb454&fontids=710463");
@font-face{
  font-family:"OCR B W01 Regular";
  src:url("../fonts/710463/610af915-cf43-4b02-84f5-e4104c7dd109.eot?#iefix");
  src:url("../fonts/710463/610af915-cf43-4b02-84f5-e4104c7dd109.eot?#iefix") format("eot"),
      url("../fonts/710463/c2b907a4-c36c-4739-9219-d8f04980134a.woff") format("woff"),
      url("../fonts/710463/74f2b5ef-136a-4afe-aa1f-ad3303324ed4.ttf") format("truetype"),
      url("../fonts/710463/08415ce2-8df9-4972-b70c-8b8c7720b4e8.svg#08415ce2-8df9-4972-b70c-8b8c7720b4e8") format("svg");
}




