.tl-day, .tl-date, .tl-grp-content-inner .item-list h3, .tl-grp-content-inner .item-list a  {
  font-family: $body-font-family;
}

.tl-dot {
  height: 25px;
  width: 25px;
}

.tl-grp-content-inner .item-list ul li.views-row  {
  padding-bottom: 10px;
  a:hover {
    border-bottom: 4px solid $anchor-font-color-hover;
  }
}


